**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [8]:
# Dependencies
import pandas as pd
import numpy as np

In [9]:
file="Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [10]:
# Read with pandas
df=pd.read_csv(file,encoding="ISO-8859-1")
df.head()

C:\Users\erick\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [ ]:
# Inspect all columns

In [11]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32,34, 36, 37, 45, 48, 56, 110, 111
df= df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32,34, 36, 37, 45, 48, 56, 110, 111]]

In [12]:
# Change "0" to "No" and "1" to "Yes" in response columns
df['AttendedBootcamp']=df['AttendedBootcamp'].replace(0,'No')
df['AttendedBootcamp']=df['AttendedBootcamp'].replace(1,'Yes')

In [13]:
# Calculate total number of respondents in survey
total_respondents=len(df)

In [14]:
# Extract rows corresponding only to people who attended a bootcamp
df2=df[df.AttendedBootcamp=='Yes']

In [30]:
# Calculate average age of attendees
avg_age=round(df2["Age"].mean(),2)
# Calculate how many people attended a bootcamp
total_attendees=len(df2)

#Calculate the number of bootcamp attendees who self-identify as male; female; or neither.

male_attendees = round(((len(df2[df2.Gender == 'male'])/total_attendees)*100),2)
male_attendees = str(male_attendees)+"%"

female_attendees = round(((len(df2[df2.Gender == 'female'])/total_attendees)*100),2)
female_attendees = str(female_attendees)+"%"

othergender_attendees = round(((len(df2[(df2.Gender != 'male') & (df2.Gender != 'female')])/total_attendees)*100),2)
othergender_attendees = str(othergender_attendees)+"%"


# Calculate how many attendees hold degrees
df2['SchoolDegree'].unique()
degrees=["bachelor's degree","master's degree (non-professional)",
       'professional degree (MBA, MD, JD, etc.)',
        "associate's degree", 'Ph.D.']

#Create a new column is true if it's a college degree 
df2['CollegeDegree']=df2['SchoolDegree'].isin(degrees)

has_degree= df2.CollegeDegree.sum()
has_degree

# Calculate percentage of respondents who attended a bootcamp
percent_attended= total_attendees/total_respondents
percent_attended = round((percent_attended * 100),0)
percent_attended = str(percent_attended)+"%"

# Calculate percentage of attendees with a school degree
attended_with_degree=round(((has_degree/total_respondents)*100),0)
attended_with_degree = str(attended_with_degree)+"%"


# Calculate average post-bootcamp salary
df3= df2[np.isfinite(df2['ExpectedEarning'])]

avg_salary = round(df2['ExpectedEarning'].mean(),2)

C:\Users\erick\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
#Create a new, two-row table collecting the above data.
final = pd.DataFrame({
   "Stats": ["Total Respondents", "Total Attendees", "Average Age of Attendee", "Male Attendees", "Female Attendees","Neither Male or Female Attendees","Attendees with College Degrees","Percent Attended","Percent Attended & Hold College Degree","Average Post-Bootcamp Salary"],
   "Values": [total_respondents, total_attendees, avg_age, male_attendees, female_attendees,othergender_attendees,has_degree,percent_attended,attended_with_degree,avg_salary]
})
final = final.transpose()
final

,0,1,2,3,4,5,6,7,8,9
Stats,Total Respondents,Total Attendees,Average Age of Attendee,Male Attendees,Female Attendees,Neither Male or Female Attendees,Attendees with College Degrees,Percent Attended,Percent Attended & Hold College Degree,Average Post-Bootcamp Salary
Values,15620,953,31.07,52.05%,34.21%,13.75%,637,6.0%,4.0%,64496.1

In [ ]:
# Improve formatting before outputting spreadsheet

In [32]:
# Export to Excel
final.to_csv("final.csv",header=True,index=False)